.connect-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #000;
  color: white;
}

.connect-left,
.connect-right {
  flex: 1 1 45%;
  margin: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* .logo {
  font-size: 2rem;
  background-color: #ff5a00;
  color: white;
  padding: 20px;
  border-radius: 50%;
} */

.address {
  text-align: center;
  margin: 20px 0;
}

.footer-text {
  font-size: 0.9rem;
}

.contact-policy {
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.contact-info {
  text-align: center;
}

.contact-item {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-item .icon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: black;
  padding: 30px;
  color: white;
  text-align: center;
  max-width: 600px;
  width: 90%;
  border-radius: 8px;
}

.close-button {
  background: #ff5a00;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .connect-left,
  .connect-right {
    flex: 1 1 100%;
  }

  .footer-text {
    font-size: 0.8rem;
  }

  .contact-policy {
    text-align: center;
  }
}
